<table>
  <tr>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th>Средний балл</th>
    <th>Дата рождения</th>
  </tr>
  <tbody *ngFor="let student of students; let i = index">
    <tr [ngClass]="{'tr-red': student.score < 3 && isChecked , 
    'tr-blue': student.surname.toUpperCase() === inputValue || student.name.toUpperCase() === inputValue,
  'sort': filterByDate(student.date), 'sort-score': filterByScore(student.score)}">
      <td>{{ student.surname }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.patronymic }}</td>
      <td>{{ student.score }}</td>   
      <td>{{ student.date }}
        <button (click)="removeRow(i)">Удалить</button>
      </td> 
    </tr>
  </tbody>
</table>

<input type="checkbox" (change)="selectionChange($event.srcElement)">
<label for="checkScore">Показать студентов, чей средний бал ниже 3</label>

<input type="text" (input)="onSearchChange($event.target.value)">

<input type="date" (input)="onInputDateFirstChange($event.target.value)" [value]="firstDate"> 
<input type="date" (input)="onInputDateSecondChange($event.target.value)" [value]="secondDate">
<input type="text" (input)="onChangeFirstScore($event.target.value)" [value]="firstScore">
<input type="text" (input)="onChangeSecondScore($event.target.value)" [value]="secondScore">
