.popup-overlay
    height: 100vh
    width: 100%
    background-color: rgba(0,0,0,0.4)
    position: fixed
    top: 0
    z-index: 1
    display: block
    .popup
        position: absolute
        top: 300px
        background-color: white
        padding: 30px 40px
        left: 50%
        transform: translateX(-50%)
        &-close
            position: absolute
            right: 0
            top: 0
        input
            display: block
    